/* MOBILE VERSION */


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
padding-top:10%;
padding-bottom:10%;
padding-left: 5%;
padding-right: 5%;
font-family: 'League Spartan', sans-serif;
font-size: 16px;
background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
background-repeat: no-repeat,no-repeat;
background-size:contain,contain;
background-position: top, bottom;
}


/*VARIABILI COLORI */


:root{
--first_color:  hsl(300, 43%, 22%);
--second_color:hsl(333, 80%, 67%);
--third_color:hsl(303, 10%, 53%);
--fourth_color: hsl(300, 24%, 96%);
}



/*------------------ START HEADER ----------------*/

header h1{
color:var(--first_color);
font-size: 35px;
}



header p{
color: var(--third_color);
}

header h1+p {
margin-top: 5%;
}

header{
text-align: center;
}

/*------------------ END HEADER-------------------*/ 



/*-------------------- RATINGS--------------------*/

.column {
display: flex;
flex-direction: column;
}

.row{
display: flex;
flex-direction: row;
}

.ratings p {
color: var(--first_color);
font-weight: 700;

}

.ratings{
margin-top: 10%;
}

.ratings .column{
justify-content: center;
align-items: center;
background-color: var(--fourth_color);
padding-top: 4%;
padding-bottom: 4%;
border-radius: 10px; 
}

.ratings .column + .column {
margin-top: 5%;
}

.ratings .column .row {
margin-bottom: 4%;
justify-content: space-around;
width: 40%;
}


/*------------------- END RATINGS -----------------*/ 




/*------------------- FEEDBACK -------------------*/ 

.feedback{
margin-top:10%;
}

.feedback .user +.user {
margin-top: 10%;
}

.feedback .user{
background: var(--first_color);
color: white;
padding: 8%;
padding-top: 10%;
padding-bottom: 10%;
border-radius:8px;
text-align: left;
}

.feedback img + p {
margin-left: 5%;
line-height: 130%;
}

.feedback p {
line-height: 130%;
}
.feedback .row {
align-items: center;
margin-bottom: 10%;
}

.verified{
color: var(--second_color);
}

.feedback img{
width: 20%;
clip-path: circle(50%);
overflow: hidden;
object-fit: cover;
object-position: center;    
}

/*--------------------- END FEEDBACK -------------------*/
/*Per usare border radius si usa i px non le percentuali*/






@media(min-width:700px){

body{
background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
background-repeat: no-repeat,no-repeat;
background-size:auto,auto;
background-position: top left, bottom right;
height: 100vh;
width: 90vw;
margin: 0 auto;
font-size: 20px;
}


.union{
    display: flex;
    justify-content: row;
    align-items: center;
    height: 50%;
    justify-content: space-between;

}

header{
    width: 40%;
    text-align: left;

}

header h1{
    font-size: 45px;
    max-width: 80%;
}


.ratings{
    width: 50%;

}

#row{
    display: flex;
    flex-direction: row;
}











.column {
display: flex;
flex-direction: column;
}

.row{
display: flex;
flex-direction: row;
}

.ratings p {
color: var(--first_color);
font-weight: 700;

}

.ratings{
margin-top: 10%;
}

.ratings .column{
justify-content: center;
align-items: center;
background-color: var(--fourth_color);
padding-top: 4%;
padding-bottom: 4%;
border-radius: 10px;
}

.ratings .column + .column {
margin-top: 5%;
}

.ratings .column .row {
margin-bottom: 4%;
justify-content: space-around;
width: 40%;
}


















}











/*DESKTOP VERSION*/

@media(min-width:700px){

body{
background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
background-repeat: no-repeat,no-repeat;
background-size:auto,auto;
background-position: top left, bottom right;
height: 100vh;
width: 90vw;
margin: 0 auto;
font-size: 20px;
}



.union{
display: flex;
flex-direction: row;
height: 50%;
justify-content: space-between;
align-items:center;

}


/*----------------------------DESKTOP HEADER------------------------ */
.union header{
width: 50%;
text-align: left;
}

.union header h1{
max-width: 50%;
font-size: 40px;
}

.union header p {
font-size: 15px;
max-width: 70%;
line-height: 115%;
}

/*----------------------END DESKTOP HEADER--------------------------------*/







/*------------------------------DESKTOP RATINGS--------------------------*/
.union .column {
display: flex;
flex-direction: row;
}

.row{
display: flex;
flex-direction: row;
}

.ratings p {
color: var(--first_color);
font-weight: 700;
font-size: 19px;

}

.ratings{
margin-top: 0%;
width: 50%;
height: 100%;
overflow: hidden;
display: flex;
flex-direction: column;
justify-content: center;
}

.ratings .column{
justify-content: center;
align-items: center;
background-color: var(--fourth_color);
padding-top: 2%;
padding-bottom: 2%;
border-radius: 10px; 
width: 80%;
}

.ratings .column + .column {
margin-top: 5%;
margin-left: 10%;
}

.ratings .column + .column +.column {
margin-top: 5%;
margin-left: 20%;
}

.ratings .column .row {
margin-bottom: 0%;
justify-content: space-around;
width: 30%;
margin-right: 5%;
}


/*---------------------------END DESKTOP RATINGS-------------------------*/





/*---------------------------DESKTOP FEEDBACK----------------------*/

.feedback{
margin-top:3%;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.feedback .user +.user {
margin-top: 0%;
}

.feedback .user{
background: var(--first_color);
color: white;
padding: 2%;
padding-top: 3%;
padding-bottom: 3%;
border-radius:8px;
text-align: left;
width: 32%;
font-size: 14px;
height: 70%;
}


.feedback .user + .user{
margin-top: 2%;
}

.feedback .user + .user + .user{
margin-top: 5%;

}


.feedback img + p {
margin-left: 5%;
line-height: 130%;
}

.feedback p {
line-height: 130%;
}
.feedback .row {
align-items: center;
margin-bottom: 10%;
}

.verified{
color: var(--second_color);
}

.feedback img{
width: 20%;
clip-path: circle(50%);
overflow: hidden;
object-fit: cover;
object-position: center;    
}

/*--------------------- END DESKTOP FEEDBACK -------------------*/

}